<%- include("header") -%>

<p id="timerD" style="display: none">
  <%=JSON.stringify(foundTimerItems)%>
</p>


<div class="body-container">
  <div class="create-container">
    <%- include("noteForm") -%> <%- include("timerForm") -%>
  </div>

  <div class="notes-container">
    <%- include("noteHeader") -%>
    <div id="noteSection" class="notes-section"> 
       
      
        <!-- <div class="timer-items">
          <div id="timerItemContent" class="timer-items-content">
            <h3><%=// foundTimerItem.title%></h3>
          </div>
          <form action="/delete" method="POST">
            <button type="submit" name="itemId" value="<%=// foundTimerItem.id %>" class="left">
              <i class="fas fa-trash-alt"></i>
            </button>
            <input type="hidden" name="collection" value="timer"/>
          </form>
          <form action="/status" method="POST">
            <button type="submit" name="itemId" value="<%=// foundTimerItem.id %>" class="right">
              <i class="fas fa-trash-alt"></i>
            </button>
            <input type="hidden" name="collection" value="timer" />
          </form>
        </div> -->
        
      
    </div>
  </div>
</div>

<%- include("footer") -%>
<script></script>
